
.nav{
	padding-left: 150px;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
  padding: 0px;
}

header img{
  width: 130px;
  display:inline-block;
}

.navbar { 
  padding-top: 1px; 
}

 .fa{
  color:#40A629;
  padding-top:20px;
  padding-left: 20px
}  

@media(min-width:1024px) {
    body {
        padding-top: 100px;

    }
.navbar-fixied-top .navbar-logo{
  padding: 10px 0;
}
}