.section{
  background-image:url("../img/FondoMuyLargoNuevo.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 6em;
  text-align: center;
  font-family: 'Montserrat';
}

header img{
  width: 130px;
  display:inline-block;
}

.navbar { 
  padding-top: 1px; 
}

.fa{
  padding-top:20px;
  padding-left: 20px
}  
.navbar-textface{
  color:#FFFFFF;
  
}
.navbar-texttweet{
  color:#5ea9dd;
}
h1, h2{
  font-family: 'Lobster';
  color:#FFFFFF;
}

*{
  font-size: 19px;
}



span{
	color:#FFFFFF;
  font-size:16px;
}

@media(max-width:600px){
  span{
    font-size:12px;
    }
  }

p{
  color:#FFFFFF;
  text-align: justify;
  font-size: 1em;
}

.container{
  display:block;
  width: 80%; 
}
#cajaContacto img{
  width:50%;
  
}
#ingredients{
  width: 60%;
}
.maquinaF1{
  max-width: 370px;
  width:100%;
}
.imgGal{
  height: 300px;
}
@media(max-width:600px){
  .imgGal{
    height:200px;
  }
}

.foto1{
  width: 400px;
}
#sabores{
  width: 60%;
  }
@media(max-width:600px) {
  #sabores{
    width: 100%;
  }
}
.video{
  width: 100%;
  height:400px;
}
@media(max-width:600px){
  *{
    font-size: 12px;
  }
  .video{
    height:80%;
  }
}
.pin{
  height:65px;
}
.nav{
  padding-left: 100px;
}
@media(min-width: 1300px) {
  .maquinaF1{
    max-width: 560px;
  }
  .nav{
    padding-left: 200px;
  }
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../img/loading_pizza.gif') 50% 50% no-repeat rgb(249,249,249);
}

